<style type="text/css">
	.form-inline .form-control {
		margin: 5px 10px;
	}
	.form-inline label {
		margin: 0 0 0 10px;
		font-size: 16px;
	}

	.btn {
		margin: 5px 10px 0 0;
	}
</style>

<section>
	<div class="container">
		<br>
		<h1>Edit Staff <span style="font-size: 15px" class="badge badge-warning align-top">Admin Only</span></h1>
		<hr><br>	

		<%= form_for @staff do |f| %>

		<div class="form-inline">
			<label>Staff Name</label>
			<%= f.text_field :name, class: "col-md-2 col form-control", :required => true %>
		</div>
		<div class="form-inline">
			<label>Staff ID</label>
			<%= f.text_field :staff_id, class: "col-md-2 col form-control", :required => true %>
		</div>
            <hr>
            <%= f.submit class: "btn btn-success" %>
            <%= link_to "Back", staffs_path, :class => "btn btn-outline-primary" %>
        <% end %>
	</div>
</section>
