<style type="text/css">
    h3 {
        font-weight: 300;
    }
    select[name="staff_picker"] {
        border-style: none;
        border: 1px solid black;
        border-radius: 1px;
    }

    .jumbotron {
        background: #f2f2f2;
    }
</style>
<section>
    <div class="container">
        <div class="jumbotron">
            <h1>Delivery Page</h1>
            <p>But there's no way that it's not going there.</p>
            
            <div class="jumbotron bg-white text-dark">
                <div class="container">
                    <h3>AWB Number : <%= "#{@order.prefix}-#{@order.awbnum}"%></h3>
                    <h3>Pieces : <%= "#{@order.pieces}"%> </h3>
                    <h3>Time of Request : <%= "#{@order.created_at.strftime('%I:%M %p')}"%></h3>
                    <hr class="bg-white">

                    <%= form_for @order do |f| %>
                    
                        <h3 class="text-danger">Delivered By : </h3>
                        <select id="staff_picker" name="staff_picker" class="col form-control">
                            <option selected="true" disabled="disabled">Choose a Staff</option>    
                            <% Staff.pluck(:name).each do |staff| %>
                            <option value="<%= staff %>"><%= staff %></option>
                            <% end %>
                        </select>

                        <%= f.text_field :delivered_by, id: "staff_name", class: "col form-control", :required => true, value: "", hidden: true %>

                        <button type="button" class='btn-auth align-middle'>Authenticate</button>
                        <%= f.text_field :delivery_time, id: "authenticate", :required => true, hidden: true %>
                        <%= f.submit "Deliver", class: "btn btn-primary", id: "delivery-submit", disabled: true %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(function() {
        var d = new Date();
        var dateNum = d.getDate() + "/" + d.getMonth() + "/" + d.getFullYear();
        var amOrPm = (d.getHours() < 12) ? "AM" : "PM";
        var hour = (d.getHours() < 13) ? d.getHours() : (d.getHours() - 12);
        var minutes = (d.getMinutes() < 10) ? "0" + d.getMinutes() : d.getMinutes();
        var strTime = [];

        // Animation
        var btn = $(".btn-auth");
        btn.on("click", function() {
            $(this).addClass('btn-progress');
            setTimeout(function() {
                btn.addClass('btn-fill')
            }, 300);
            setTimeout(function() {
                btn.removeClass('btn-fill')
            }, 1500);
            setTimeout(function() {
                btn.addClass('btn-complete')
            }, 1500);
            
            // Time
            strTime = [hour + ':' + minutes + ' ' + amOrPm, dateNum];
            $("#authenticate").val(strTime);
            
            // Submit Button
            setTimeout(function() {
                document.getElementById("delivery-submit").disabled = false;
            }, 1500);
        });
    })

    jQuery(function($){
        var $idval = $('#staff_name');
        $('select[name="staff_picker"]').change(function(){
            $idval.val($(this).val())
        }).triggerHandler('change')
    })
</script>